<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="{{ base_url() }}">
        <img src="{{ base_url() }}/demo/brand/tabler.svg" class="header-brand-img" alt="Forum">
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        {% if auth.check == false %}
          <div class="nav-item d-non d-md-flex">
            <a href="{{ path_for('auth.signup') }}" class="btn btn-sm btn-outline-primary">Sign Up</a>
          </div>
          <div class="nav-item d-non d-md-flex">
            <a href="{{ path_for('auth.signin') }}" class="btn btn-sm btn-outline-primary">Sign In</a>
          </div>
        {% else %}
          <div class="dropdown">
            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
              <span class="avatar"><i class="fe fe-user text-muted"></i></span>
              <span class="ml-2 d-none d-lg-block">
                <span class="text-default">{{ auth.user.username }}</span>
                <small class="text-muted d-block mt-1">{{ auth.user.email }}</small>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-user"></i> Profile
              </a>
              <a class="dropdown-item" href="{{ path_for('auth.password.change') }}">
                <i class="dropdown-icon fe fe-settings"></i> Change Password
              </a>  
              <a class="dropdown-item" href="{{ path_for('auth.signout') }}">
                <i class="dropdown-icon fe fe-log-out"></i> Sign out
              </a>
            </div>
          </div>
        {% endif %}
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>


<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 ml-auto">
        <form class="input-icon my-3 my-lg-0">
          <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
          <div class="input-icon-addon">
            <i class="fe fe-search"></i>
          </div>
        </form>
      </div>
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

          <li class="nav-item">
            <a href="{{ base_url() }}" class="nav-link active"><i class="fe fe-home"></i> Home</a>
          </li>

          <li class="nav-item">
            <a href="{{ path_for('posts') }}" class="nav-link"><i class="fe fe-folder"></i> Forum</a>
          </li>

          <li class="nav-item">
            <a href="{{ path_for('songs') }}" class="nav-link"><i class="fe fe-headphones"></i> Music</a>
          </li>

          <li class="nav-item">
            <a href="{{ path_for('videos') }}" class="nav-link"><i class="fe fe-video"></i> Video</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>