{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row row-cards row-deck">
        <div class="col col-lg-6 offset-lg-3">
          <div class="page-header"><h1 class="page-title">Manage Post Categories</h1></div>
            <div class="card">
              <div class="table-responsive">
                <table class="table card-table table-striped table-vcenter">
                  <thead>
                    <tr>
                      <th class="w-1">#</th>
                      <th>Category Name</th>
                      <th>Category Slug</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        {% if categories %}
                            {% for id, item in categories %}
                               <tr>
                                    <td>
                                        {{ item.id }}
                                    </td>
                                    <td>
                                        {{ item.title }}
                                    </td>
                                    <td>
                                        {{ item.slug }}
                                    </td>
                                    <td class="text-right">
                                        <div class="col-auto">
                                            <div class="item-action dropdown">
                                              <a href="javascript:void(0)" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" class="icon">Actions</a>
                                              <div class="dropdown-menu dropdown-menu-right">
                                                <a href="{{ path_for('post.category.edit', {'id': item.id}) }}" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Edit </a>
                                                <div class="dropdown-divider"></div>
                                                <a href="{{ path_for('post.category.delete', {'id': item.id}) }}" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Delete</a>
                                              </div>
                                            </div>
                                          </div>
                                    </td>
                               </tr>
                            {% endfor %}
                        {% else %}
                        {% endif %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

{% endblock %}